# Welcome to Dataskillet!

In [1]:
import os
os.environ["MODIN_ENGINE"] = "dask"  # Modin will use Dask
import modin.pandas as pd

UserWarning: The Dask Engine for Modin is experimental.

In [2]:
from dataskillet import DataSource

In [3]:
%load_ext autoreload
%autoreload 2

Lets download some csvs

In [4]:
os.mkdir('testdrive_csvs')

FileExistsError: [Errno 17] File exists: 'testdrive_csvs'

In [5]:
!curl https://raw.githubusercontent.com/jasonchang0/kaggle-google-apps/master/google-play-store-apps/googleplaystore.csv -o testdrive_csvs/googleplaystore.csv
!curl https://raw.githubusercontent.com/jasonchang0/kaggle-google-apps/master/google-play-store-apps/googleplaystore_user_reviews.csv -o testdrive_csvs/googleplaystore_user_reviews.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1328k  100 1328k    0     0  2135k      0 --:--:-- --:--:-- --:--:-- 2132k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 7489k  100 7489k    0     0  9651k      0 --:--:-- --:--:-- --:--:-- 9639k

# The dataset contains google play apps and their user reviews about them

In [4]:
googleplaystore = pd.read_csv('testdrive_csvs/googleplaystore.csv')
googleplaystore.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [5]:
googleplaystore_user_reviews = pd.read_csv('testdrive_csvs/googleplaystore_user_reviews.csv')
googleplaystore_user_reviews.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

# Creating the DataSource

DataSource is the analogus of database. It stores information about tables and accepts queries to them.

On creation, we need to specify a directory to store table metadata for the DataSource.

In [6]:
metadata_dir = 'testdrive_metadata'
os.mkdir(metadata_dir)

FileExistsError: [Errno 17] File exists: 'testdrive_metadata'

In [7]:
ds = DataSource(metadata_dir=metadata_dir)

The metadata dir now stores information about tables. However we currently have no tables. Lets create some

In [8]:
ds.query('SHOW TABLES')

UserWarning: Distributing <class 'list'> object. This may take some time.

,name,fpath
0,googleplaystore,testdrive_csvs/googleplaystore.csv
1,googleplaystore_user_reviews,testdrive_csvs/googleplaystore_user_reviews.csv

# Creating tables

A `Table` is an abstraction over a dataframe. It loads the dataframe on-demand. On creation it applies simple preprocessings. The preprocessings are created once and stored in metadata, so they are always performed the same way when a dataframe is loaded.

In [11]:
ds.query(f'CREATE TABLE ("testdrive_csvs/googleplaystore.csv")')

Exception: Table googleplaystore already exists in data source, use DROP TABLE to remove it if you want to recreate it.

In [12]:
ds.query(f'CREATE TABLE ("testdrive_csvs/googleplaystore_user_reviews.csv")')

Exception: Table googleplaystore_user_reviews already exists in data source, use DROP TABLE to remove it if you want to recreate it.

In [ ]:
ds.query('SHOW TABLES')

Now that we have some tables, the information about them is stored in metadata. 

If we recreate the datasource using the same `metadata_dir`, we don't need to add the tables again.

In [13]:
ds = DataSource(metadata_dir=metadata_dir)

In [14]:
ds.query('SHOW TABLES')

UserWarning: Distributing <class 'list'> object. This may take some time.

,name,fpath
0,googleplaystore,testdrive_csvs/googleplaystore.csv
1,googleplaystore_user_reviews,testdrive_csvs/googleplaystore_user_reviews.csv

If we need it, we can clear the metadata and recreate the DataSource using `DataSource.create_new(metadata_dir)`

# Querying

In [9]:
ds.query('SELECT * FROM googleplaystore LIMIT 5')

UserWarning: Distributing <class 'NoneType'> object. This may take some time.
UserWarning: `DataFrame.convert_dtypes` defaulting to pandas implementation.
To request implementation, send an email to feature_requests@modin.org.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.
UserWarning: `Series.tolist` defaulting to pandas implementation.
UserWarning: `DataFrame.insert` for empty DataFrame defaulting to pandas implementation.

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [30]:
ds.query("SELECT app FROM googleplaystore LIMIT 5")

UserWarning: `Series.tolist` defaulting to pandas implementation.
UserWarning: `DataFrame.insert` for empty DataFrame defaulting to pandas implementation.

0       Photo Editor & Candy Camera & Grid & ScrapBook
1                                  Coloring book moana
2    U Launcher Lite – FREE Live Cool Themes, Hide ...
3                                Sketch - Draw & Paint
4                Pixel Draw - Number Art Coloring Book
Name: app, dtype: object

In [63]:
ds.query("SELECT CAST(price as int) as price_int FROM googleplaystore WHERE price = '0' LIMIT 5")

UserWarning: `Series.tolist` defaulting to pandas implementation.
UserWarning: `DataFrame.insert` for empty DataFrame defaulting to pandas implementation.

0    0
1    0
2    0
3    0
4    0
Name: price_int, dtype: int64

In [64]:
ds.query("SELECT app, category FROM googleplaystore WHERE price = '0'")

                                                     app             category
0         Photo Editor & Candy Camera & Grid & ScrapBook       ART_AND_DESIGN
1                                    Coloring book moana       ART_AND_DESIGN
2      U Launcher Lite – FREE Live Cool Themes, Hide ...       ART_AND_DESIGN
3                                  Sketch - Draw & Paint       ART_AND_DESIGN
4                  Pixel Draw - Number Art Coloring Book       ART_AND_DESIGN
...                                                  ...                  ...
10035                                   Sya9a Maroc - FR               FAMILY
10036                   Fr. Mike Schmitz Audio Teachings               FAMILY
10037                             Parkinson Exercices FR              MEDICAL
10038                      The SCP Foundation DB fr nn5n  BOOKS_AND_REFERENCE
10039      iHoroscope - 2018 Daily Horoscope & Astrology            LIFESTYLE

[10040 rows x 2 columns]

In [65]:
ds.query("SELECT app, category, reviews FROM googleplaystore WHERE category = 'FAMILY' AND price = '0' ORDER BY app ASC LIMIT 100")

UserWarning: Distributing <class 'NoneType'> object. This may take some time.
UserWarning: `Series.tolist` defaulting to pandas implementation.
UserWarning: `DataFrame.insert` for empty DataFrame defaulting to pandas implementation.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.
UserWarning: sort_values defaulting to pandas implementation.

                                                  app category reviews
34                       ABC Kids - Tracing & Phonics   FAMILY   36606
55  Baby ABC in box! Kids alphabet games for toddl...   FAMILY    9652
20                                    Baby Panda Care   FAMILY  108795
52                            Baby Panda’s Juice Shop   FAMILY   19230
44       Baby Tiger Care - My Cute Virtual Pet Friend   FAMILY     432
..                                                ...      ...     ...
60                      Toddler Kids Puzzles PUZZINGO   FAMILY   14014
7                                       Toy Pop Cubes   FAMILY    5761
92            Transformers Rescue Bots: Disaster Dash   FAMILY   19245
87  Xtreme Racing 2018 - Jeep & 4x4 off road simul...   FAMILY    2178
0                                        YouTube Kids   FAMILY  470694

[100 rows x 3 columns]

In [66]:
ds.query("SELECT app, sentiment, sentiment_polarity FROM googleplaystore INNER JOIN googleplaystore_user_reviews ON googleplaystore.app = googleplaystore_user_reviews.app LIMIT 10")

UserWarning: Distributing <class 'NoneType'> object. This may take some time.
UserWarning: `DataFrame.convert_dtypes` defaulting to pandas implementation.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.
UserWarning: `Series.tolist` defaulting to pandas implementation.
UserWarning: `DataFrame.insert` for empty DataFrame defaulting to pandas implementation.

                   app sentiment  sentiment_polarity
0  Coloring book moana  Negative              -0.250
1  Coloring book moana  Negative              -0.725
2  Coloring book moana   Neutral               0.000
3  Coloring book moana      <NA>                 NaN
4  Coloring book moana  Positive               0.500
5  Coloring book moana  Negative              -0.800
6  Coloring book moana      <NA>                 NaN
7  Coloring book moana   Neutral               0.000
8  Coloring book moana  Positive               0.500
9  Coloring book moana  Positive               0.500

In [67]:
sql = """
SELECT app, avg(sentiment_polarity) as avg_sentiment_polarity
FROM (
    SELECT app, sentiment, sentiment_polarity 
    FROM googleplaystore INNER JOIN googleplaystore_user_reviews ON googleplaystore.app = googleplaystore_user_reviews.app 
) sub
GROUP BY app
HAVING CAST(avg_sentiment_polarity as float) > 0.4
LIMIT 10
"""
ds.query(sql)

UserWarning: Distributing <class 'NoneType'> object. This may take some time.
UserWarning: `Series.tolist` defaulting to pandas implementation.
UserWarning: `DataFrame.insert` for empty DataFrame defaulting to pandas implementation.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.
UserWarning: `DataFrame.groupby_on_multiple_columns` defaulting to pandas implementation.
UserWarning: `DataFrame.__getitem__` defaulting to pandas implementation.
UserWarning: Distributing <class 'pandas.core.series.Series'> object. This may take some time.
UserWarning: Distributing <class 'dict'> object. This may take some time.

                                                 app  avg_sentiment_polarity
0                              10 Best Foods for You                0.470733
4   2018Emoji Keyboard 😂 Emoticons Lite -sticker&gif                0.449566
8                                          2RedBeans                0.412199
11                           365Scores - Live Scores                0.438312
14                        3D Live Neon Weed Launcher                0.568182
19                                  7 Minute Workout                0.410278
22                            850 Sports News Digest                0.542860
43                      APE Weather ( Live Forecast)                0.432323
44       APUS Launcher - Theme, Wallpaper, Hide Apps                0.447473
52                               ASUS Sound Recorder                0.516771

In [68]:
sql = """
SELECT count(app) as count_apps
FROM (
    SELECT app
    FROM googleplaystore 
) sub
"""
ds.query(sql)

UserWarning: Distributing <class 'NoneType'> object. This may take some time.
UserWarning: `Series.tolist` defaulting to pandas implementation.
UserWarning: `DataFrame.insert` for empty DataFrame defaulting to pandas implementation.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.
UserWarning: `DataFrame.agg` defaulting to pandas implementation.
UserWarning: Distributing <class 'dict'> object. This may take some time.

10841

In [78]:
sql = """
SELECT category, count(app) as count_apps
FROM (
    SELECT category, app FROM googleplaystore 
) sub
GROUP BY category
ORDER BY count_apps DESC
LIMIT 10
"""
ds.query(sql)

UserWarning: Distributing <class 'NoneType'> object. This may take some time.
UserWarning: `Series.tolist` defaulting to pandas implementation.
UserWarning: `DataFrame.insert` for empty DataFrame defaulting to pandas implementation.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.
UserWarning: `DataFrame.groupby_on_multiple_columns` defaulting to pandas implementation.
UserWarning: `DataFrame.__getitem__` defaulting to pandas implementation.
UserWarning: Distributing <class 'pandas.core.series.Series'> object. This may take some time.
UserWarning: Distributing <class 'dict'> object. This may take some time.
UserWarning: sort_values defaulting to pandas implementation.

           category  count_apps
12           FAMILY        1972
15             GAME        1144
30            TOOLS         843
21          MEDICAL         463
5          BUSINESS         460
26     PRODUCTIVITY         424
24  PERSONALIZATION         392
7     COMMUNICATION         387
29           SPORTS         384
19        LIFESTYLE         382

In [29]:
sql = """
SELECT count(category) as uniq_categories
FROM (
    SELECT DISTINCT category FROM googleplaystore 
) sub
"""
ds.query(sql)

UserWarning: Distributing <class 'NoneType'> object. This may take some time.
UserWarning: `Series.tolist` defaulting to pandas implementation.
UserWarning: `DataFrame.insert` for empty DataFrame defaulting to pandas implementation.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.
UserWarning: User-defined function verification is still under development in Modin. The function provided is not verified.
UserWarning: `DataFrame.agg` defaulting to pandas implementation.
UserWarning: Distributing <class 'dict'> object. This may take some time.

34